<!-- SECTOR INFORMATION -->
<template name="sector_information">
  <div class="row">
      <h4 class="center-align">Choose your sector</h4>
      <h6 class="center-align">Jobs in 56 Categories.</h6>
  </div>
</template>

<!-- SECTOR -->
<template name="sector">
  <div class="row">
      <ul class="sector-list">
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
      <li>List 5</li>
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
      <li>List 5</li>
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
      <li>List 5</li>
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
      <li>List 5</li>
    </ul>
  </div>
</template>

<template name="sector_more">
  <div class="row">
     <a class="waves-effect waves-teal btn-flat right">More Sectors ></a>
  </div>
</template>
