<template name="login">
  <div class="container">
    <div class="row">
      <!-- login form -->
      <div class="col s4">
        <h4 class="center">Login</h4>
        <form class="login">
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p><input class="right" type="submit" value="Login"></p>
        </form>
      </div>
      <!-- login information -->
      <div class="col s8">
        <h2 class="center">Login Here</h2>
        <p>
          blah blah blah blah blah
        </p>
      </div>
    </div>
  </div>
</template>
